.course_header
  display: flex
  flex-direction: column
  justify-items: center
  align-content: center
  background: url("../../assets/course.jpg") no-repeat
  background-size: cover
  min-height: 10rem
